<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">GamerReviews</p>
      <div class="list-grou">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      MAP
    </div>
    <div class='col-md-9'>
      <div class="thumbnail">
        <img class="img-responsive" src="<%= game.image %>">
        <div class="caption-full">
          <h4 class="pull-right"><%=game.genre%></h4>
          <h4><a><%= game.name %></a></h4>
          <p><%= game.description %></p>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
            <a class="btn btn-success" href="/games/<%=game._id%>/reviews/new">Add new review!</a>
        </div>
        <hr>
        <% game.genres.forEach(function(genre) { %>
          <div class="row">
            <div class="col-md-12">
            <%= genre.name %>
            <% genre.traits.forEach(function(trait) { %>
              <div><%= trait.name %></div>
            <% }) %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>


